@use '../abstracts/variables' as *;

.cta {
    background-image: linear-gradient(to right, $lime-green, $bright-cyan);
    border-radius: 3rem;
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15);
    color: $white;
    display: inline-block;
    font-weight: $font-semibold;
    padding: 1.2rem 2.4rem;
    transition: all 0.4s;

    &--outline {
        background: $white;
        color: $dark-blue;
        box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
    }
    &:hover {
        filter: brightness(110%);
    }
    &:active {
        box-shadow: none;
        transform: translateY(3px);
    }
}
