{
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "printWidth": 85,
    "vueIndentScriptAndStyle": true,
    "semi": false,
    "bracketSpacing": true,
    "jsxSingleQuote": true
}
